[color]
  ui = true
  status = auto
[user]
	name = Paul Prestidge
	email = paul@storypark.com
[core]
	editor = vim
	excludesfile = ~/dotfiles/git/.gitignore_global
	autocrlf = false
[push]
	default = simple
[alias]
  compare = log --left-right --graph --cherry-pick --oneline
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[help]
	autocorrect = 20
[credential]
	helper = osxkeychain
[rebase]
	autoStash = true
[rerere]
	enabled = true
	autoUpdate = true
