"*":
  "atom-beautify":
    general:
      _analyticsUserId: "67e035fe-8d22-405f-a0c2-444e0bc4fc4a"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "autocomplete-atom-api"
      "autocomplete-snippets"
      "autocomplete-plus"
      "autocomplete-html"
      "autocomplete-css"
      "activate-power-mode"
      "background-tips"
      "welcome"
      "floobits"
      "merge-conflicts"
      "minimap"
    ]
    openEmptyEditorOnStart: false
    projectHome: "~/workspace"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Fantasque Sans Mono"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.3
    showInvisibles: true
  "exception-reporting":
    userId: "e166e2e4-13fa-2fd8-a44f-411b88ce2e6d"
  "git-projects":
    rootPath: "~/workspace"
  "one-dark-ui": {}
  tabs:
    enableVcsColoring: true
    showIcons: true
  "tree-view": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
