"*":
  "atom-beautify":
    general:
      _analyticsUserId: "67e035fe-8d22-405f-a0c2-444e0bc4fc4a"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "autocomplete-atom-api"
      "autocomplete-snippets"
      "autocomplete-plus"
      "autocomplete-html"
      "autocomplete-css"
      "activate-power-mode"
      "background-tips"
      "welcome"
      "floobits"
      "merge-conflicts"
      "minimap"
      "linter"
      "linter-haml"
      "linter-rubocop"
      "linter-ruby"
      "linter-scss-lint"
      "linter-ui-default"
      "zentabs"
      "atom-runner"
      "script-runner"
      "platformio-ide-terminal"
    ]
    openEmptyEditorOnStart: false
    projectHome: "~/workspace"
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    lineHeight: 1.3
    showInvisibles: true
  "exception-reporting":
    userId: "e166e2e4-13fa-2fd8-a44f-411b88ce2e6d"
  "git-projects":
    rootPath: "~/workspace"
  "linter-ui-default":
    panelHeight: 60
  "one-dark-ui": {}
  tabs:
    enableVcsColoring: true
    showIcons: true
  "tree-view":
    hideIgnoredNames: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 6
    neverCloseUnsaved: true
"linter-rubocop":
  command: "/Users/[yourname]/.rbenv/shims/rubocop"
"ruby-test":
  rspecAllCommand: "bundle exec rspec --tty spec"
  rspecFileCommand: "bundle exec rspec --tty {relative_path}"
  rspecSingleCommand: "bundle exec rspec --tty {relative_path}:{line_number}"
  specFramework: "rspec"
